.btn a {
  color: #08a67c;
  font-weight: bold;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s;
  box-shadow: 2px 2px 4px grey;
}

.btn a:hover {
  color: #fff;
  border: 2px solid #fff;
  background-color: #08a67c;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  transition: 0.5s;
  box-shadow: 2px 2px 4px grey;
}
