.containerMarkUp {
  padding: 1em;
  width: 900px;
  min-height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.containerTitulo {
  border-radius: 5px;
  box-shadow: 1px 1px 2px grey;
  width: 100%;
  margin: 0.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 2px 2px 4px grey;
}

.titulo {
  display: flex;
}

.titulo h1 {
  width: 80%;
  margin-left: 10px;
  font-size: 26px;
  color: #08a67c;
}

.button {
  width: 20%;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button button {
  width: 120px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  background: #08a67c;
  color: #fff;
  border: none;
  box-shadow: 1px 1px 3px grey;
}

.button button:hover {
  color: #08a67c;
  border: 1px solid #08a67c;
  background: #fff;
}

.containerInfo {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item {
  display: flex;
  border-bottom: 1px solid grey;
}

.coef {
  display: flex;
  padding: 10px 0 10px;
  color: blue;
}

.containerInfo p,
.containerInfo span {
  font-size: 26px;
}

.containerInfo span {
  font-weight: bold;
  margin-right: 5px;
}

.form {
  position: absolute;
  direction: inherit;
}
